<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Berkenalan dengan Vue</title>
    </head>
    <body>
        <div id="app">
            <input type="radio" v-model="pilihanku" value="nomer satu"> pilihan 1
            <input type="radio" v-model="pilihanku" value="nomer dua"> pilihan 2
            <br>
            <h1>{{pilihanku}}</h1>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    pilihanku: ""
                }
            })
        </script>
    </body>
</html>